app/code/local/Autocompleteplus/Autosuggest/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
        </schema>
    </types>
    <message name="setLayeredSearchOnRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="scope" type="xsd:string" />
        <part name="scope_id" type="xsd:string" />
    </message>
    <message name="setLayeredSearchOnResponse">
        <part name="result" type="xsd:string" />
    </message>

    <message name="setLayeredSearchOffRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="scope" type="xsd:string" />
        <part name="scope_id" type="xsd:string" />
     </message>
    <message name="setLayeredSearchOffResponse">
        <part name="result" type="xsd:string" />
    </message>

    <message name="getLayeredSearchConfigRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="scope_id" type="xsd:string" />
    </message>
    <message name="getLayeredSearchConfigResponse">
        <part name="result" type="xsd:string" />
    </message>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="setLayeredSearchOn">
            <documentation>Set Layered Search on</documentation>
            <input message="typens:setLayeredSearchOnRequest" />
            <output message="typens:setLayeredSearchOnResponse" />
        </operation>
    </portType>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="setLayeredSearchOff">
            <documentation>Set Layered Search off</documentation>
            <input message="typens:setLayeredSearchOffRequest" />
            <output message="typens:setLayeredSearchOffResponse" />
        </operation>
    </portType>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="getLayeredSearchConfig">
            <documentation>Get Layered Search config</documentation>
            <input message="typens:getLayeredSearchConfigRequest" />
            <output message="typens:getLayeredSearchConfigResponse" />
        </operation>
    </portType>

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="setLayeredSearchOn">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="setLayeredSearchOff">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="getLayeredSearchConfig">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>