app/code/community/ParadoxLabs/TokenBase/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
			<xsd:complexType name="tokenbaseCardEntity">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" minOccurs="0" />
					<xsd:element name="customer_id" type="xsd:string" minOccurs="0" />
					<xsd:element name="customer_email" type="xsd:string" minOccurs="0" />
					<xsd:element name="customer_ip" type="xsd:string" minOccurs="0" />
					<xsd:element name="profile_id" type="xsd:string" minOccurs="0" />
					<xsd:element name="payment_id" type="xsd:string" minOccurs="0" />
					<xsd:element name="method" type="xsd:string" minOccurs="0" />
					<xsd:element name="created_at" type="xsd:string" minOccurs="0" />
					<xsd:element name="updated_at" type="xsd:string" minOccurs="0" />
					<xsd:element name="last_use" type="xsd:string" minOccurs="0" />
					<xsd:element name="expires" type="xsd:string" minOccurs="0" />
					<xsd:element name="additional" type="xsd:string" minOccurs="0" />
					<xsd:element name="address" type="typens:tokenbaseCardAddressEntity" minOccurs="0" />
					<xsd:element name="label" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_type" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_last4" type="xsd:string" minOccurs="0" />
					<xsd:element name="hash" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tokenbaseCardAddressEntity">
				<xsd:sequence>
					<xsd:element name="firstname" type="xsd:string" minOccurs="0" />
					<xsd:element name="lastname" type="xsd:string" minOccurs="0" />
					<xsd:element name="street" type="xsd:string" minOccurs="0" />
					<xsd:element name="city" type="xsd:string" minOccurs="0" />
					<xsd:element name="region" type="xsd:string" minOccurs="0" />
					<xsd:element name="postcode" type="xsd:string" minOccurs="0" />
					<xsd:element name="country_id" type="xsd:string" minOccurs="0" />
					<xsd:element name="telephone" type="xsd:string" minOccurs="0" />
					<xsd:element name="fax" type="xsd:string" minOccurs="0" />
					<xsd:element name="region_id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tokenbaseCardCustomerEntity">
				<xsd:sequence>
					<xsd:element name="customer_id" type="xsd:string" minOccurs="0" />
					<xsd:element name="customer_email" type="xsd:string" minOccurs="0" />
					<xsd:element name="customer_ip" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="tokenbaseCardPaymentEntity">
				<xsd:sequence>
					<xsd:element name="po_number" type="xsd:string" minOccurs="0" />
					<xsd:element name="method" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_cid" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_owner" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_number" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_type" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_exp_year" type="xsd:string" minOccurs="0" />
					<xsd:element name="cc_exp_month" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_account_name" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_bank_name" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_routing_no" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_account_no" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_account_type" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="shoppingCartPaymentMethodEntity">
				<xsd:sequence>
					<xsd:element name="card_id" type="xsd:string" minOccurs="0" />
					<xsd:element name="save" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_account_name" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_bank_name" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_routing_no" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_account_no" type="xsd:string" minOccurs="0" />
					<xsd:element name="echeck_account_type" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="shoppingCartPaymentEntity">
				<xsd:sequence>
					<xsd:element name="tokenbase_id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="salesOrderPaymentEntity">
				<xsd:sequence>
					<xsd:element name="tokenbase_id" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="tokenbaseGetCardRequestParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="cardId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tokenbaseGetCardResponseParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="tokenbaseCardEntity" type="typens:tokenbaseCardEntity" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tokenbaseGetCardsByCustomerRequestParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tokenbaseGetCardsByCustomerResponseParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:tokenbaseCardEntity" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tokenbaseDeleteCardRequestParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="cardId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tokenbaseDeleteCardResponseParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tokenbaseUpdateCardRequestParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="method" type="xsd:string" />
						<xsd:element minOccurs="1" maxOccurs="1" name="customer" type="typens:tokenbaseCardCustomerEntity" />
						<xsd:element minOccurs="1" maxOccurs="1" name="address" type="typens:tokenbaseCardAddressEntity" />
						<xsd:element minOccurs="1" maxOccurs="1" name="payment" type="typens:tokenbaseCardPaymentEntity" />
						<xsd:element minOccurs="0" maxOccurs="1" name="cardId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tokenbaseUpdateCardResponseParam">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="cardId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="tokenbaseGetCardRequest">
		<wsdl:part name="parameters" element="typens:tokenbaseGetCardRequestParam" />
	</wsdl:message>
	<wsdl:message name="tokenbaseGetCardResponse">
		<wsdl:part name="parameters" element="typens:tokenbaseGetCardResponseParam" />
	</wsdl:message>
	<wsdl:message name="tokenbaseGetCardsByCustomerRequest">
		<wsdl:part name="parameters" element="typens:tokenbaseGetCardsByCustomerRequestParam" />
	</wsdl:message>
	<wsdl:message name="tokenbaseGetCardsByCustomerResponse">
		<wsdl:part name="parameters" element="typens:tokenbaseGetCardsByCustomerResponseParam" />
	</wsdl:message>
	<wsdl:message name="tokenbaseDeleteCardRequest">
		<wsdl:part name="parameters" element="typens:tokenbaseDeleteCardRequestParam" />
	</wsdl:message>
	<wsdl:message name="tokenbaseDeleteCardResponse">
		<wsdl:part name="parameters" element="typens:tokenbaseDeleteCardResponseParam" />
	</wsdl:message>
	<wsdl:message name="tokenbaseUpdateCardRequest">
		<wsdl:part name="parameters" element="typens:tokenbaseUpdateCardRequestParam" />
	</wsdl:message>
	<wsdl:message name="tokenbaseUpdateCardResponse">
		<wsdl:part name="parameters" element="typens:tokenbaseUpdateCardResponseParam" />
	</wsdl:message>
	<wsdl:portType name="{{var wsdl.handler}}PortType">
		<wsdl:operation name="tokenbaseGetCard">
			<wsdl:documentation>Get a stored payment record by ID</wsdl:documentation>
			<wsdl:input message="typens:tokenbaseGetCardRequest" />
			<wsdl:output message="typens:tokenbaseGetCardResponse" />
		</wsdl:operation>
		<wsdl:operation name="tokenbaseGetCardsByCustomer">
			<wsdl:documentation>Get all active stored payment data for a given customer</wsdl:documentation>
			<wsdl:input message="typens:tokenbaseGetCardsByCustomerRequest" />
			<wsdl:output message="typens:tokenbaseGetCardsByCustomerResponse" />
		</wsdl:operation>
		<wsdl:operation name="tokenbaseDeleteCard">
			<wsdl:documentation>Delete a stored card for a given customer</wsdl:documentation>
			<wsdl:input message="typens:tokenbaseDeleteCardRequest" />
			<wsdl:output message="typens:tokenbaseDeleteCardResponse" />
		</wsdl:operation>
		<wsdl:operation name="tokenbaseUpdateCard">
			<wsdl:documentation>Create or update a stored card for a given customer</wsdl:documentation>
			<wsdl:input message="typens:tokenbaseUpdateCardRequest" />
			<wsdl:output message="typens:tokenbaseUpdateCardResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="tokenbaseGetCard">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="tokenbaseGetCardsByCustomer">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="tokenbaseDeleteCard">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="tokenbaseUpdateCard">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="{{var wsdl.name}}Service">
		<wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
			<soap:address location="{{var wsdl.url}}" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>